
[*]

# ReSharper properties
resharper_int_align_assignments=true
resharper_int_align_binary_expressions=true
resharper_int_align_comments=true
resharper_int_align_fields=true
resharper_int_align_invocations=true
resharper_int_align_nested_ternary=true
resharper_int_align_switch_expressions=true
resharper_int_align_switch_sections=true
resharper_int_align_variables=true
